* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

:root {
    font-size: 62.5%;
}

body, html {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    font-size: 1.6rem;
    min-width: 100%;
    --primary-layout-color: #881619;
    --secondary-layout-color: #4D74B3;
}

.fixedFooterProperties {
    flex: 1 0 auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    top: 0;
    z-index: 6;
    position: sticky;
    border-bottom: #4D74B3 2px solid;
}

header .logo {
    margin-left: 1.5rem;
    max-width: 12rem;
}

header .menu {
    margin-right: 1.5rem;
    height: 2.5rem;
    position: sticky;
    right: 0;
    opacity: 0.6;
}

main .backgroundMechanic {
    background-repeat: no-repeat;
    background-image: url(./assets/fachadamobile.jpg);
    min-height: 90rem;
    opacity: 0.15;
    position: absolute;
    width: 100%;
    z-index: -2;
    top: -9rem;
}

.firstSection h1, .firstSection h2 {
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

.firstSection strong {
    color: var(--primary-layout-color);
    font-weight: 700;
}

.horizontalLineOne {
    margin-top: 2rem;
    height: 0px;
    width: 100%;
    border-bottom: 3px solid var(--secondary-layout-color);
    border-top: 3px solid var(--primary-layout-color);
}

.horizontalLineTwo {
    height: 0px;
    width: 100%;
    border-top: 3px solid var(--secondary-layout-color);
    border-bottom: 3px solid var(--primary-layout-color);
}

.secondSection {
    margin: 0 auto 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondSection p {
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;

}

.secondSection span {
    text-transform: uppercase;
    font-size: 3.3rem;
    font-weight: 600;
    color: var(--primary-layout-color)
}

footer {
    display: flex;
    align-items: center;
    position: relative;
    bottom: 0;
    justify-content: space-between;
    background-color: var(--secondary-layout-color);
    width: 100%;
    min-height: 10rem;
    gap: 1rem;
    flex-shrink: 0;
    padding: 20px;
}

.whatsappIcon {
    position: fixed;
    right: 0;
    bottom: 0;
    height: 5rem;
    margin: 0 1.5rem 1.5rem 0;
}

.thirdSection {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 2rem;
    width: 100vw;
}

.thirdSection p {
    margin: 0 2rem;
}

.thirdSection p + p {
    background-color: white;
    margin: 0;
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer ul li {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1rem;
}

footer ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
}

footer img {
    width: 2.6rem;
    margin-left: 1rem;
}

.adress {
    color: white;
    font-size: 1rem;
    margin-right: 1rem;
}

@media (min-width: 376px) {
    .thirdSection p + p {
        background: none;
    }
}

